body {
    font-family: sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

html {
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow: hidden;
}

html::-webkit-scrollbar {
    display: none;
}

body::-webkit-scrollbar {
    display: none;
}

header {
    height: 10rem;
    color: rgb(21, 255, 0);
    position: absolute;
    left: -50px;
    top: -50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

main {
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 100px;
}
button {
    max-width: 20rem;
    max-height: 20rem;
    width: 20rem;
    height: 10rem;
    font-size: 1rem;
    overflow-wrap: break-word;
    background-color: #444444;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    border-radius: 10px;
    border: #222 2px solid;
    cursor: pointer;
}

button:hover {
    background-color: #777;
    border: #aaa 2px solid;
    cursor: pointer;
}

#logo {
    height: 10rem;
    
}

#loginbtn{
    position: fixed;
    right: -200px;
    top: 50px;
    color: #fff;
    border: none;
    background: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2rem;
}

#fsvg {
    position: sticky;
    left: 1rem;
}

.break {
  flex-basis: 100%;
  height: 0;
}
