body {
    font-family: sans-serif;
    background-color: #000;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    color: rgb(255, 255, 255);
}
#logo {
    height: 10rem;
}

main {
    height: 10rem;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#hmbtn{
    scale: 22.5%;
    border: none;
    background: none;
    cursor: pointer;
}